.bar rect {
	shape-rendering: crispEdges;
	fill-opacity: 1;
}

.bar rect:hover {
	fill-opacity: 0.7;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}